<h1>Beer!</h1>

<h2>Beer!</h2>


<h2>Add a Beer</h2>
<form class="create-update-form" action="beer/create" method="POST">
  <div class="form-group">
    <label for="beer">Beer Name:</label>
    <input type="text" id="beer" name="name">
  </div>
  <button type="submit">Add Beer</button>
</form>
