<!--
Here is the main HTML where handlebars will render to
 -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0"/>
    <meta name="keywords" content="Boozer,Beer,Craft Beer,Beer Match">
    <meta name="Description" content="Your Search for Beer Ends Here.">
    <meta name="robots" content="text">

    <title>Boozers</title>
    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Patua+One' rel='stylesheet' type='text/css'>
    <link href="assets/materialize/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="assets/materialize/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>

<body>
<ul id="dropdown1" class="dropdown-content">
    <li><a href="#!">one</a></li>
</ul>
<nav class="custom2 darken-3 z-depth-1" role="navigation">
    <div class="nav-wrapper">
        <a class="brand-logo center custom1-text text-darken-2"><img src="assets/images/beer_glass-512.png" height="50" width="50">Boozers</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="home"class="custom1-text text-darken-2 active">Home</a></li>
        
            <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Login<i class="material-icons right">arrow_drop_down</i></a></li>
        </ul>
    </div>
</nav>


<div class="section" id="index-banner">
    <div class="custom2 darken-2" id="main"><Br>
        
        <div class="row container">
            <h5 class="center header col s12 custom1-text text-darken-2 center-align">
  <div class="slider">
    <ul class="slides">
      <li>
        <div class="caption center-align">
          <h3 class="light grey-text text-lighten-3">Boozers is....</h3>
          <h5 class="light grey-text text-lighten-3">an introduction to craft beers.</h5>
          <h5 class="black-text text-lighten-3"><br><Br><Br><Br>scroll down to begin</h5>
        </div>
      </li>
      <li>
        <div class="caption center-align">
          <h3 class="light grey-text text-lighten-3">Boozers is....</h3>
          <h5 class="light grey-text text-lighten-3">a customized, interactive exploration of good beer.</h5>
          <h5 class="black-text text-lighten-3"><br><Br><Br><Br>scroll down to begin</h5>
        </div>
      </li>
      <li>
        <div class="caption center-align">
          <h3 class="light grey-text text-lighten-3">Boozers is....</h3>
          <h5 class="light grey-text text-lighten-3">for bud light bingers, natural ice chuggers, and pbr hipsters.</h5>
          <h5 class="black-text text-lighten-3"><br><Br><Br><Br>scroll down to begin </h5>

        </div>
      </li>
    </ul>
  </div>
      </h5>
        </div>
        <br><br>
    </div>
</div>

<div class="parallax-container">
    <div class="parallax"><img src="assets/images/taps.jpg"></div>
</div>
<div class="section custom2 darken-2" id="survey">
    <div class="row container">
        <h2 class="header">Lets get a few things straight...</h2>
        <p class="custom1-text text-darken-3 lighten-3"><div class="section" id="index-banner">
          <br><br>
        
    </br>

    
    <div class="row">
        <div class="input-field col s4 m4 l4" name="abv">
        <Br><Br>
            <select>
              <option value="" disabled selected>Do you like easy or strong beers?</option>
              <option value="1">ABV: 5.4% & under (easy beers)</option>
              <option value="2">ABV: 5.5% - 6.0% (average beers)</option>
              <option value="3">ABV: 6.1% & above (strong beers) </option>
            </select>
            <label>  <a class="btn" onclick="Materialize.toast('ABV: Alcohol By Volume <br><br> is a standard measure of how much alcohol (ethanol) is contained in a given volume of an alcoholic beverage', 6000)">ABV level</a></label><br><Br>
        </div>

        <div class="input-field col s4 m4 l4">
        <Br><Br>
            <select>
              <option value="" disabled selected>Do you prefer light or dark beers?</option>
              <option value="light">light</option>
              <option value="pale">pale</option>
              <option value="wheat">wheat</option>
              <option value="amber">amber</option>
              <option value="dark">dark</option>

            </select>
            <label>  <a class="btn" onclick="Materialize.toast('color<br> here are some generals to help<br><Br><li>bud light: light</li><br><li>yuengling: amber</li><br><li>guiness: dark</li></ul>', 6000)">color</a></label><br><Br>
        </div>

        <div class="input-field col s4 m4 l4">

        <Br><Br>
            <select>
              <option value="" disabled selected>Whats your flavor?</option>
              <option value="1">citrus</option>
              <option value="2">vanilla</option>
              <option value="3">cherry</option>
              <option value="4">apple</option>
              <option value="5">malt</option>
              <option value="6">chocolate</option>
              <option value="7">caramel</option>
            </select>
             <label>  <a class="btn" onclick="Materialize.toast('key notes<br> beer has a ton of different flavors (notes) to it. Tell us which you like best', 6000)">key notes</a></label><br><Br>
        </div>
    </br>

    <button class="start btn-primary btn" id="submit" name="action" onclick='window.open("http://www.thebeerspot.com/beer/info/founders-brewing-company/kbs")'>Submit</button></p>

    </div>
</div>
</div>
</div>
<div class="parallax-container">
    <div class="parallax"><img src="assets/images/Flight.jpg"></div>
</div>




<footer class="page-footer custom2 darken-2">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="custom1-text text-darken-2">BOOZERS</h5>
                <p class="custom1-text text-darken-2">this has been a string cheese production</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="custom1-text text-darken-2">Links</h5>
                <ul>
                    <li><a class="custom1-text text-darken-2" href="#!">Contact us</a></li>
                    <li><a class="custom1-text text-darken-2" href="#!">Feedback</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container custom1-text text-darken-2">
            © 2016 Copyright
            <a class="custom1-text text-darken-2 right" href="#!">More Links</a>
        </div>
    </div>
</footer>

<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="assets/materialize/js/materialize.js"></script>
<script>
    $(document).ready(function(){
      $('.slider').slider({full_width: true});
        $('.parallax').parallax();
        $(".dropdown-button").dropdown();
        $('select').material_select();
    });



  
</script>

</body>
</html>
